
.body_bg{
   background: #222d32;
}


/* .container{
    background: pink;
} */

.mg_top{
    margin-top: 150px;
}

html,body{
    height: 100%;
}

ul{
    list-style: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
/* a:hover{
    text-decoration:none; 
} */
a:link{
    text-decoration:none;
}
a:visited{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
a:active{
    text-decoration:none;
}

.manage .active{        
    background: #1d1f21;
    border-left: 2px solid red !important;
}
body{
    padding-left: 180px;
    transition: all 1s;
}
 .run{
   
    padding-left:0;
}
.index_left{
    width: 180px;
    height: 100%;
    background: #222d32;
    transition: all 1s;
    position: absolute;
    left: 0;
    top: 0;
}
.in_left{
    left: -180px;
}
.index_left .heima{
    background: #046491;
}
/* 黑马23期 */
.index_left .heima a{
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: white;
    font-size: 25px;
    text-align: center;
}

/* 管理员 */
.index_left .user{
    margin-bottom: 46px;
    margin-top: 20px;
}

.index_left .user img{
     width: 80px;
     height: 80px;
     border-radius: 50%;
     display: block;
     margin: 0 auto;
}
.index_left .user h4{
    text-align: center;
    color: white;
}
/* 结束 */

/* 用户管理 */

.manage ul li a{
    display: block;
    color: white;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-left: 2px solid transparent;
}
/* 一级二级分类 */
.manage ul li .second a{
    height: 40px;
    line-height: 40px;
    padding-left:21px;
    /* display: none; */
}

/* 右边 */

.index_right{
    width: 100%;
    height: 100%;
    /* background: pink; */
}

.index_right .hader{
    height: 50px;
    width: 100%;
    background: #3c8dbc;
    font-size: 18px;
    padding: 0 15px;
    margin-bottom: 20px;
}
.index_right .hader a{
   color: white;
   display: block;
   line-height:50px; 
   
}

.change .chart_left{
         width: 45%;
         height: 400px;
         /* background: blueviolet; */
}

.change .chart_right{
    width: 45%;
    height: 400px;
    /* background: rgb(66, 193, 202); */
}


.table.table-bordered th,
.table.table-bordered td{
    text-align: center;
    /* line-height: 100%; */
    vertical-align: middle;
}

.mb_20{
    margin-bottom: 20px;
}